 *{

    background-color:#da230f
 }
 
 #imageuni {

    height: 500px;
    width: 500px;

}

#semestre1{

    background-color: aqua;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

#semestre2{

    background-color: aqua;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

#titulo{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aliceblue;

}

#navegador{


    display: flex;
    

}